@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
}

.card-wrapper {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 1px solid lightgrey;
    width: 200px;
    height: 280px;
    padding: 20px;
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;ù-webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.title-container {
    display: flex;
    justify-content: center;
}

.card-title {
    font-size: 19px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.info-container {
    border: 1px solid red;
    width: 100%;
    height: 50%;
}